 <script type="module" src="src/JS/movies.js" defer></script>
    
       <div class="movie-list-cont movie-list-on-movie-page">
        <h1>Movies</h1>
        <ul class="movie-list-startpage">
          {{#each movies}}
            <li>
              <a
                class="movie-list-link-startpage"
                href="/movie-info/{{this.id}}"
              >
                {{this.attributes.title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>

 <main class="movies sec">

    
  
      <section class="movies-content sec-cont">
        <div>
          <h2 class="movies-h2"></h2>
          <nav class="sec">
            <ul class="movies-category-list">
              <li class="movies-category-element">
                <a href="movies" class="comedy-category">Komedi</a>
              </li>
              <li class="movies-category-element">
                <a href="movies" class="action-category">Action</a>
              </li>
              <li class="movies-category-element">
                <a href="movies" class="drama-category">Drama</a>
              </li>
            </ul>
          </nav>
        </div>
        <ul class="movies-list"></ul>
      </section>



    </main>