
<script type="module" src="/src/JS/movie-info.js" defer></script>

<main class="main-container sec">
    <div class="sec-cont movie-info-cont" >
        <h1 class="movie-info-heading">{{ movie.attributes.title }}</h1>
        <div class="movie-info-text">
            {{ movie.attributes.intro }}
        </div class="movie-info-img">
        {{#if movie.attributes.image }}
        <img src="{{ movie.attributes.image.url }}">
        {{/if }}
        <div class="buy-button-container">
            <button><a id="btnBook" >Köp biljetter</a></button>
        </div>
    </div>
</main>
