.movie-list-cont {
  background-color: rgba($first-color, 0.6);
  border-radius: 1rem;
}

.movie-list-startpage {
  padding: 1rem;
  list-style: none;
  text-align: left;
  font-size: 1.4rem;
}

.movie-list-link-startpage {
  color: white;
}
